@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<main aria-labelledby="title" class="centered-content">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</main>

<style>
    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Chiều cao toàn màn hình */
        text-align: center;
    }
</style>
