﻿@model IEnumerable<WebsiteBanDoAnVaThucUong.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{

    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title category_title">
                        <h2>Danh mục sản phẩm</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="banner_item align-items-center" style="background-image: url(@item.Icon) ; width: 200px; height: 200px">

                        </div>
                        <div class="row">
                            <div class="icon-text-wrapper">
                                <a href="@item.Alias" style="font-size:30px">@item.Title</a>
                            </div>
                        </div>
                    </div>
                    
                }

            </div>
        </div>
    </div>
}